.Root {
	display: flex;
	flex-direction: column;
}

.List {
	flex-shrink: 0;
	display: flex;
	border-bottom: 1px solid #d1d5db;
}

.Trigger {
	all: unset;
	font-family: inherit;
	background-color: white;
	padding: 0 20px;
	height: 45px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	line-height: 1;
	color: var(--mauve-11);
	user-select: none;
    outline: none;
	&[data-state="active"] {
        font-weight: 700;
		box-shadow:
			inset 0 -1px 0 0 #f97316,
			0 1px 0 0 #f97316;
	}
	&:focus {
		position: relative;
	}
}

.Content {
	flex-grow: 1;
	padding: 20px;
	background-color: white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	outline: none;
	&:focus {
		box-shadow: 0 0 0 2px black;
	}
}